@use "../globals/" as *;
@use "../utilities/" as *;

#about {
	background-color: $clr-primary;
	color: $clr-white;
	height: rem(400);
	overflow: hidden;
	display: flex;
	align-items: end;

	#about-ctn {
		display: flex;
		align-items: center;
		background: linear-gradient(
			0.35turn,
			$clr-gradient-one,
			$clr-gradient-two,
			$clr-gradient-three,
			$clr-gradient-four
		);
		gap: rem(25);
		height: 90%;
		margin: 0 auto;
		width: 60%;
		border-radius: rem(25) rem(25) 0 0;
		padding: rem(40) rem(80);
		border: rem(5) solid $clr-gradient-two;
		border-bottom: 0;

		#about-content {
			display: flex;
			gap: rem(25);
			flex-direction: column;
			width: 70%;
		}
	}

	#img-ctn {
		width: 30%;

		img {
			max-width: 100%;
			border-radius: 50%;
			filter: drop-shadow(rem(7) rem(7) 0 $clr-tertiary);
		}
	}
}

@media screen and (max-width: rem(1024)) {
	#about #about-ctn {
		width: 80%;
	}
}

@media screen and (max-width: rem(768)) {
	#about {
		#about-ctn {
			flex-direction: column-reverse;

			#about-content {
				width: 100%;
				align-items: center;
			}
		}
	}
}

@media screen and (max-width: rem(425)) {
	#about {
		#about-ctn {
			padding: rem(20);
			font-size: rem(16);
		}
	}
}
