@use "../globals/" as *;
@use "../utilities/" as *;

#about-content {
	display: flex;
	padding: rem(120) 0;
	justify-content: space-between;
	align-items: center;

	p {
		padding: 0 rem(48);
	}

	img {
		width: 50%;
		max-width: rem(795);
	}
}

@media screen and (max-width: rem(1620)) {
	#about-content {
		padding: rem(120) rem(48);
	}
}
