@use "../globals/" as *;
@use "../utilities/" as *;

#about {
	background-color: $clr-primary;
	color: $clr-white;
	height: rem(400);
	overflow: hidden;

	#about-ctn {
		display: flex;
		background-color: $clr-tertiary;
		height: 150%;
		position: relative;
		top: rem(50);
		margin: 0 auto;
		width: 60%;
		border-radius: rem(25);
		padding: rem(40) rem(80);
	}
}
