@use "../globals/" as *;
@use "../utilities/" as *;

#experience-page {
	display: flex;

	aside {
		padding: rem(120) 0;
		border-right: 1px solid $clr-gray-dark;
		width: 25%;

		ul {
			display: flex;
			flex-direction: column;
			position: sticky;
			top: rem(80);
			gap: rem(24);
		}

		h4 {
			font-weight: 700;
		}
	}

	section {
		padding: rem(120) 0;
		width: 75%;
		display: flex;
		flex-direction: column;
		gap: rem(120);
	}

	.experience-content {
		font-size: rem(16);
		padding-left: rem(80);

		ul {
			display: flex;
			flex-direction: column;
			gap: rem(8);
			list-style: disc;
			list-style-position: outside;
		}

		h3 {
			font-size: rem(20);
			font-style: italic;
			font-weight: 400;
		}

		span {
			font-size: rem(40);
			font-weight: 300;
			font-style: normal;
		}

		p {
			font-size: rem(20);
			font-weight: 700;
			margin-bottom: rem(24);
			margin-top: rem(8);
		}
	}
}
