@use "../globals/" as *;
@use "../utilities/" as *;

#experience {
	background-color: $clr-primary;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: rem(35);

	h2 {
		text-align: center;
	}
}

#experience-ctn {
	display: flex;
	width: 100%;
	justify-content: center;

	#experience-list-ctn {
		width: 25%;
		height: 50px;
		background-color: gray;
	}

	#experience-details-ctn {
		width: 50%;
		height: 50px;
		background-color: lightblue;
	}
}
