@use "../globals/" as *;
@use "../utilities/" as *;

#experience {
	background-color: $clr-primary;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: rem(35);
}

#experience-ctn {
	display: flex;
	width: 100%;
	justify-content: center;
	padding-top: rem(25);
	gap: rem(15);
	color: $clr-white;

	#experience-list-ctn {
		width: 25%;
		display: flex;
		flex-direction: column;
		border-left: 5px solid $clr-secondary;

		.experience-list {
			background: none;
			color: $clr-white;
			text-align: left;
			border-top: none;
			border-right: none;
			border-left: none;
			border-bottom: 2px solid $clr-primary;
			padding: rem(15);

			h4 {
				font-size: rem(18);
				font-weight: 700;
			}

			p {
				font-size: rem(16);
			}
		}

		.experience-list:hover {
			cursor: pointer;
		}

		.active-list {
			border-bottom: 2px solid $clr-secondary;
		}

		.active-header {
			color: $clr-secondary;
		}
	}

	#experience-details-ctn {
		width: 50%;
		padding: rem(15);

		h3,
		h4 {
			display: inline-block;
		}

		h3 {
			color: $clr-secondary;
		}

		h4 {
			font-weight: 700;
		}

		h5 {
			font-size: rem(18);
		}

		ul {
			padding-left: rem(20);
			padding-top: rem(10);
			font-size: rem(16);
		}

		li {
			line-height: 2;
		}

		li::marker {
			color: $clr-secondary;
		}
	}
}

.hidden-details {
	display: none;
}

@media screen and (max-width: rem(1000)) {
	#experience-ctn {
		#experience-list-ctn {
			width: 35%;
		}

		#experience-details-ctn {
			width: 65%;
		}
	}
}

@media screen and (max-width: rem(725)) {
	#experience-ctn {
		padding-top: rem(35);

		#experience-list-ctn {
			display: none;
		}

		#experience-details-ctn {
			padding: 0;
			width: 100%;

			h3 {
				display: block;
			}

			h4 {
				display: block;
			}
		}

		.hidden-details {
			display: block;
		}

		.hidden-details:nth-child(n + 1) {
			padding-top: rem(25);
		}
	}
}
