@use "../globals/" as *;
@use "../utilities/" as *;

header {
	background-color: $clr-primary;
	color: $clr-white;
}

#header-ctn {
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding: rem(25) 0;

	#header-left,
	#header-right {
		display: flex;
		justify-content: space-between;
		gap: rem(50);
	}

	nav,
	#socials {
		display: flex;
		justify-content: space-between;
		gap: rem(30);
		align-items: center;
	}
}

a {
	display: flex;
	align-items: center;
}

i {
	color: $clr-white;
	font-size: rem(28);
}

i:hover {
	color: $clr-secondary;
}

@media screen and (max-width: rem(1590)) {
	#header-ctn {
		padding: rem(25);
	}
}
