@use "../globals/" as *;
@use "../utilities/" as *;

header {
	background-color: $clr-primary;
	color: $clr-white;
	top: rem(0);
	border-bottom: 1px solid $clr-gray-dk;
	position: sticky;
	z-index: 10;
}

#header-ctn {
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding: rem(25) 0;

	#header-left,
	#header-right {
		display: flex;
		justify-content: space-between;
		gap: rem(50);
	}

	nav,
	#socials {
		display: flex;
		justify-content: space-between;
		gap: rem(30);
		align-items: center;
	}
}

.desktop-link {
	color: $clr-white;
	display: flex;
	align-items: center;
	border-bottom: 2px solid $clr-primary;
	font-size: rem(16);
}

.desktop-link:hover {
	border-bottom: 2px solid $clr-secondary;
}

i {
	color: $clr-white;
	font-size: rem(28);
}

i:hover {
	color: $clr-secondary;
}

@media screen and (max-width: rem(1590)) {
	#header-ctn {
		padding: rem(25);
	}
}

@media screen and (max-width: rem(950)) {
	#header-ctn {
		#header-left > nav {
			display: none;
		}

		#header-right {
			display: none;
		}
	}
}
