@use "../globals/" as *;
@use "../utilities/" as *;

#home-main-content {
	display: flex;
	flex-direction: column;
	padding: rem(200) 0;
	gap: rem(200);
	max-width: rem(1206);
	margin: 0 auto;
	align-items: center;

	#welcome {
		display: flex;
		align-items: center;
		gap: rem(120);

		p {
			padding-top: rem(24);
		}
	}

	#header-location {
		color: $clr-gray;
		font-weight: 300;
	}

	#projects {
		display: flex;
		flex-direction: column;
		width: rem(795);
		gap: rem(120);

		#projects-one-liner {
			text-align: center;
		}
	}

	.project-ctn {
		display: flex;
		flex-direction: column;
		gap: rem(40);

		.project-heading {
			display: flex;
			justify-content: space-between;
			align-items: center;

			p {
				font-size: rem(80);
				font-weight: 100;
			}
		}
	}

	#about-me,
	#skills-ctn {
		display: flex;
		flex-direction: column;
		gap: rem(80);

		h2 {
			text-align: center;
		}
	}

	#about-me {
		width: rem(657);
	}

	#skills-ctn {
		width: rem(991);

		#skills-list {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}

		.skill {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: rem(24);
			width: 20%;
			margin-bottom: rem(40);

			h3 {
				text-align: center;
			}
		}

		.skill-img-ctn {
			display: flex;
			justify-content: center;
			align-items: center;
			height: rem(104);
			width: rem(104);
			border: 1px solid $clr-gray;
			border-radius: rem(100);

			img {
				max-height: rem(40);
				max-width: rem(40);
			}
		}
	}
}
