@use "../globals/" as *;
@use "../utilities/" as *;

#home-main-content {
	display: flex;
	flex-direction: column;
	padding: rem(200) 0;
	gap: rem(200);
	max-width: rem(1206);
	margin: 0 auto;
	align-items: center;

	#welcome {
		display: flex;
		align-items: center;
		gap: rem(120);

		p {
			padding-top: rem(24);
		}
	}

	#header-location {
		color: $clr-gray;
		font-weight: 300;
	}

	#projects {
		display: flex;
		flex-direction: column;
		width: rem(795);
		gap: rem(120);

		#projects-one-liner {
			text-align: center;
		}
	}

	.project-ctn {
		display: flex;
		flex-direction: column;
		gap: rem(40);

		.project-heading {
			display: flex;
			justify-content: space-between;
			align-items: center;

			p {
				font-size: rem(80);
				font-weight: 100;
			}
		}
	}
}
