@use "../globals/" as *;
@use "../utilities/" as *;

#mobile-btn {
	display: none;
	flex-direction: column;
	justify-content: space-around;
	width: rem(35);
	background: none;
	border: none;

	.mobile-lines {
		height: rem(3);
		width: 100%;
		background-color: $clr-white;
	}
}

#mobile-nav {
	display: none;
	text-align: right;
	position: fixed;
	top: rem(25);
	right: rem(25);
	padding: rem(35);
	font-size: rem(18);
	background-color: $clr-primary;
	width: 80%;
	flex-direction: column;
	z-index: 4;

	button {
		background: none;
		border: none;
		text-align: right;
	}

	ul {
		list-style: none;
		display: flex;
		flex-direction: column;
		gap: rem(20);
		padding-top: rem(25);
	}

	i {
		font-size: rem(35);
	}

	.mobile-nav-link {
		color: $clr-white;
	}

	.resume-link {
		padding: 0;
		max-width: none;
		display: block;
		font-size: rem(20);
		font-weight: 700;
		color: $clr-secondary;
		background: none;
	}
}

#mobile-nav-overlay {
	display: none;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-color: hsla(0, 0%, 100%, 0.25);
	z-index: 3;
}

@media screen and (max-width: rem(950)) {
	#mobile-btn {
		display: flex;
	}
}
