@use "../globals/" as *;
@use "../utilities/" as *;

#project-list {
	display: flex;
	flex-direction: column;
	padding: rem(120) 0;
	gap: rem(240);

	.project {
		display: flex;
		justify-content: space-between;
		gap: rem(30);
	}

	.project-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: rem(48);
		width: 50%;

		p {
			width: rem(520);
		}
	}
}
