@use "../globals/" as *;
@use "../utilities/" as *;

.project-page {
	display: flex;

	aside {
		padding: rem(120) 0;
		border-right: 1px solid $clr-gray-dark;
		width: 25%;

		ul {
			display: flex;
			flex-direction: column;
			position: sticky;
			top: rem(80);
			gap: rem(24);
		}
	}

	section {
		padding: rem(120) 0;
		width: 75%;
		display: flex;
		flex-direction: column;
		gap: rem(120);
		padding-left: rem(80);

		.project-section {
			display: flex;
			flex-direction: column;
			gap: rem(48);
			align-items: center;
		}

		h2 {
			font-size: rem(40);
			font-weight: 300;
		}

		p {
			max-width: rem(795);
		}

		img {
			width: 100%;
			height: auto;
			max-height: rem(450);
			max-width: rem(800);
		}
	}

	// this is for the portfolio project
	#version-one {
		img {
			max-height: rem(700);
		}
	}
}
