@use "../globals/" as *;
@use "../utilities/" as *;

#skills {
	background-color: $clr-gray-dk;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: rem(35);

	h2 {
		color: $clr-secondary;
	}
}

#skills-ctn {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	width: 100%;
	gap: rem(25);
	color: $clr-black;
	padding-top: rem(35);

	.skill {
		box-sizing: border-box;
		background-color: $clr-white;
		display: flex;
		flex-direction: column;
		align-items: center;
		filter: drop-shadow(0 0 rem(5) $clr-black);

		div {
			padding-top: rem(15);
		}

		p {
			padding: rem(15);
		}

		img {
			display: block;
			object-fit: contain;
			width: auto;
			height: auto;
			max-height: rem(60);
		}
	}
}

@media screen and (max-width: rem(1200)) {
	#skills-ctn {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media screen and (max-width: rem(900)) {
	#skills-ctn {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media screen and (max-width: rem(650)) {
	#skills-ctn {
		grid-template-columns: repeat(2, 1fr);
		font-size: rem(16);
	}
}

@media screen and (max-width: rem(425)) {
	#skills-ctn {
		img {
			max-width: rem(80);
		}

		.img-ctn {
			flex: 1;
		}
	}
}
