// Primary Colors
$clr-primary: hsl(208, 88%, 3%);
$clr-secondary: hsl(47, 100%, 50%);
$clr-secondary-hover: hsl(47, 100%, 68%);
$clr-tertiary: hsl(208, 69%, 46%);
$clr-gradient-one: hsl(189, 80%, 12%);
$clr-gradient-two: hsl(198, 83%, 18%);
$clr-gradient-three: hsl(202, 84%, 15%);
$clr-gradient-four: hsl(211, 85%, 5%);

// Neutral Colors
$clr-white: hsl(0, 0%, 100%);
$clr-gray-lt: hsl(0, 0%, 85%);
$clr-gray: hsl(0, 0%, 50%);
$clr-gray-dk: hsl(0, 0%, 15%);
$clr-black: hsl(0, 0%, 0%);
