// Primary Colors
$clr-bg: hsl(0, 0%, 4%);
$clr-btn: hsl(235, 75%, 58%);
$clr-btn-hover: hsl(235, 71%, 39%);

// Neutral Colors
$clr-white: hsl(0, 0%, 100%);
$clr-white-transparent-end: hsla(0, 0%, 100%, 0.9);
$clr-white-transparent-start: hsla(0, 0%, 100%, 0);
$clr-gray: hsl(0, 0%, 65%);
$clr-gray-dark: hsl(0, 0%, 33%);
$clr-black: hsl(0, 0%, 0%);
