// Primary Colors
$clr-primary: hsl(208, 88%, 3%);
$clr-secondary: hsl(47, 100%, 50%);
$clr-secondary-hover: hsl(47, 100%, 68%);
$clr-tertiary: hsl(208, 69%, 46%);

// Neutral Colors
$clr-white: hsl(0, 0%, 100%);
$clr-gray-lt: hsl(0, 0%, 85%);
$clr-gray: hsl(0, 0%, 50%);
$clr-gray-dk: hsl(0, 0%, 15%);
$clr-black: hsl(0, 0%, 0%);
