@use "../utilities/" as *;
@use "colors" as *;
@use "fonts" as *;

html {
	font-size: 100%;
	//scroll-behavior: smooth;
}

body {
	font-family: $font-primary;
	font-size: rem(18);
	color: $clr-white;
	background-color: $clr-bg;
	line-height: 1.5;
}
