@use "../utilities/" as *;
@use "colors" as *;

h1,
h2,
h3 {
	margin: 0;
	line-height: 1.1;
}

h1,
h2 {
	font-size: rem(60);
	font-weight: 700;
	line-height: 1.3;
}

h3 {
	font-size: rem(22);
	font-weight: 700;
}

a,
a:visited,
a:active {
	text-decoration: none;
}
