@use "../utilities/" as *;
@use "colors" as *;

h1,
h2,
h3 {
	margin: 0;
	line-height: 1.1;
}

h2 {
	font-size: rem(32);
	color: $clr-white;
	font-weight: 700;
}

a,
a:visited,
a:active {
	text-decoration: none;
}
